*.swp
*.old
*.bak
*.db-journal
T.*
t.*
J.*
j.*
E.*
*.in
*.out
*.db
*.db-shm
*.db-wal
t/
logs/
Use.*
controller/conf/slave/
*.pub
docker/antden-srv/mysql/db/*
slave/conf/iface
slave/conf/datasets.conf
docker/antden-srv/antden/auth/
docker/docker-elk/
