#!/opt/mydan/perl/bin/perl -I/opt/AntDen/lib
use strict;
use warnings;
use AntDen;

use MYDan::Util::OptConf;
use AntDen::Slave::Service;
use FindBin qw( $RealBin );

$| ++;

$MYDan::Util::OptConf::THIS = 'antden';

=head1 SYNOPSIS

 $0 

=cut

my $x = `cat /proc/1/cgroup 2>/dev/null`;
my $indocker = $x =~ /\b1:.+(docker|lxc|kubepods)/ ? 'docker' : '';
$0 = "AntDen_${indocker}slave_service";

my %o = MYDan::Util::OptConf->load()->get()->dump();

system "$RealBin/slave.nvidia-smi";
system "$RealBin/slave.docker-stat";
AntDen::Slave::Service->new( %{$o{slave}} )->run();
