#!/opt/mydan/perl/bin/perl -I/opt/AntDen/lib
use strict;
use warnings;
use AntDen;

use MYDan::Util::OptConf;
use AntDen::Slave::Service;

$| ++;

$MYDan::Util::OptConf::THIS = 'antden';

=head1 SYNOPSIS

 $0 

=cut

$0 = 'AntDen_slave_service';

my %o = MYDan::Util::OptConf->load()->get()->dump();

AntDen::Slave::Service->new( %{$o{slave}} )->run();
