#!/opt/mydan/perl/bin/perl -I/opt/AntDen/lib
use warnings;  
use strict;  

use FindBin qw( $Bin );
use AntDen;
use MYDan::Util::OptConf;
use AntDen::Util::Control;

$| ++;

=head1 SYNOPSIS

 $0 --start
 $0 --stop
 $0 --restart
 $0 --status
 $0 --tail

=cut

my @ctrl = qw( start stop restart status tail );
my $option =  MYDan::Util::OptConf->load();
my %o = $option->get( @ctrl )->dump();
$option->assert() unless grep{ $o{$_} }@ctrl;

map{ AntDen::Util::Control->new( ( split /\//, $Bin )[3] )->$_(); }grep{ $o{$_} }@ctrl;
