<h2>User Account / Login</h2>

<div>
    <form action="#" method="post">
    <b>Username</b><input name="user" value=""></input>
    <b>Password</b><input name="pass" type="password" value=""></input>
    <button type="submit" >Login</button>
    </form> 
    [% IF err %] [Error] [% err %] [% END %]
</div>
