<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<title>AntDen dashboard</title>
<link rel="shortcut icon" href="/images/AntDenLogoMin.png" type="image/jpeg">
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.min.js"><\/script>')
/* ]]> */</script>
    <style>
        body,html {
            height: 100%;
            background-color:#fff!important;
        }
        table.altrowstable {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #fff;
            border-collapse: collapse;
        }
        table.altrowstable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #fff;
        }
        table.altrowstable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #fff;
        }
        .oddrowcolor{
            background-color:#f7f7f7;
        }
        .evenrowcolor{
            background-color:#d8d8d8;
        }
        .user {
            background: #bfb;
            border: green solid 2px;
            width: 289px;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            position: absolute;
            bottom: 0;
            right: 0;
         }
        .top {
             height: 80px;
             background: #fff;
             position: relative;
             text-align: center;
        }
        .top-logo {
            font-size: 16px;
            font-weight: 700;
            position: relative;
            top: 15px;
            margin-left: 3px;
            float: left;
        }
        .top-title {
            font-size: 16px;
            font-weight: 700;
            position: relative;
            top: 15px;
            margin-left: 3px;
            float: left;
        }
        .content {
            height: 1000px;
            width: 100%;
            margin-left: 219px;
        }
        .outer {
            height: 100%;
            width: 100%;
            margin-top: 20px;		
        }
        .menu {
            height: 100%;
            width: 200px;
            border-right: 5px red solid;
            background: #fff;
            float: left;
            padding-right: 5px;
            padding-left: 4px;
        }
        .menu-sub {
            height: 100%;
            width: 200px;
            border-right: 5px grey solid;
            background: #fff;
            float: left;
            padding-right: 5px;
            padding-left: 4px;
        }
        .title {
            background: #fff;
            line-height: 1.5;
            padding-top: 0.5em;
        }
        .hide{
            display: none;
        }
        hr{
            line-height: 10px;
        }
        .con-item {
            background: #ddf;
            line-height: 1.5;
        }
        .con-item-sub {
            background: #ddd;
            line-height: 1.5;
        }
        a{
             text-decoration: none;
             color: #0000cc;
             font-size: small;
             font-family: sans-serif;
        }
    </style>
</head>
<body>

<div class="top" >
    <a href="/" class="top-logo" >
        <img src="/images/AntDenLogo.png"  border="0" alt="AntDen Logo" width="177" heigth="43" align="left">
    </a>
    <span class="top-title" >The [AntDen Scheduler] User Console</span>
    [% IF usr %]
    <div class="user">
        <span>Welcome [% usr %]
        <br>
        <span>encryted session</span>
   </div>
   [% END %]
</div>
<div class="outer">
    <div class="menu">
        [% IF admin %]
        <div class="item">
            <div class="title" style="font-weight: 700;" >Administrator menu</div>
        </div>
        <div class="item">
            <div class="title" onclick="show(this)"></div>
            <div class="con">
                <div class="con-item" ><a href="/" >Back to home page</a></div>
            </div>
        </div>
        <div class="item">
            <div class="title" onclick="show(this)">Authorization</div>
            <div class="con">
                <div class="con-item" ><a href="/userinfo/adduser" >Manage login users</a></div>
                <div class="con-item" ><a href="/admin/authorization/user" >Manage User Resource</a></div>
                <div class="con-item" ><a href="/admin/authorization/admin" >Management Administrator</a></div>
            </div>
        </div>
        <div class="item">
            <div class="title" onclick="show(this)">Datasets</div>
            <div class="con">
                <div class="con-item" ><a href="/admin/datasets/data" >Managing Datasets</a></div>
                <div class="con-item" ><a href="/admin/datasets/auth" >Authorization To Users</a></div>
            </div>
        </div>
        <div class="item">
            <div class="title" onclick="show(this)">System Log</div>
            <div class="con">
                <div class="con-item" ><a href="/admin/tasklog/scheduler" >Scheduler</a></div>
                <div class="con-item" ><a href="/admin/tasklog/controller" >Controller</a></div>
                <div class="con-item" ><a href="/admin/tasklog/dashboard" >Dashboard</a></div>
                <div class="con-item" ><a href="/admin/log/slave" >Slave</a></div>
            </div>
        </div>
        [% ELSE %]
        <div class="item">
            <div class="title" style="font-weight: 700;" >User menu</div>
        </div>
        <div class="item">
            <div class="title" onclick="show(this)"></div>
            <div class="con">
                <div class="con-item" ><a href="/" >Home Page</a></div>
            </div>
        </div>
        <div class="item">
            <div class="title" onclick="show(this)">Scheduler</div>
            <div class="con">
                <div class="con-item" ><a href="/resources" >Show My Machine Resources</a></div>
                <div class="con-item" ><a href="/datasets" >Show My Datasets</a></div>
                <div class="con-item" ><a href="/scheduler/submitJob" >Submit a Job</a></div>
                <div class="con-item" ><a href="/scheduler/job" >Show Running Job</a></div>
                <div class="con-item" ><a href="/scheduler/ingress" >Show My Ingress</a></div>
                <div class="con-item" ><a href="/scheduler/jobHistory" >Show My History Job</a></div>
            </div>
        </div>
        <div class="item">
            <div class="title" onclick="show(this)">Account</div>
                <div class="con-item" ><a href="/user/settings/docker" >Settings Antdencli</a></div>
                <div class="con-item" ><a href="/chpasswd" >Change Password</a></div>
                <div class="con-item" ><a href="/logout" >Logging Out</a></div>
            <div class="con">
            </div>
        </div>
        <div class="item">
            <div class="title" onclick="show(this)">Administrators</div>
                <div class="con-item" ><a href="/admin" >Administrator entrance</a></div>
            <div class="con">
            </div>
        </div>
        <div class="item">
            <div class="title" onclick="show(this)">Organization</div>
                <div class="con-item" ><a href="/organization" >My organization</a></div>
            <div class="con">
            </div>
        </div>
        <div class="item">
            <div class="title" onclick="show(this)">Help</div>
                <div class="con-item"><a href="http://antden.github.io" target="_blank" >Book</a></div>
            <div class="con">
            </div>
        </div>
       [% END %]
    </div>
    <div class="content">
        [% content %]
    </div>
</div>
</body>
<script>
    function show(self) {
        return;
        $(self).next().removeClass("hide");
        $(self).parent().siblings().children(".con").addClass("hide")
    }
    function altRows(id){
        if(document.getElementsByTagName){

            var table = document.getElementById(id);
            var rows = table.getElementsByTagName("tr");

            for(i = 0; i < rows.length; i++){
                if(i % 2 == 0){
                    rows[i].className = "evenrowcolor";
                }else{
                    rows[i].className = "oddrowcolor";
                }
            }
        }
    }

</script>
</html>
