<div>
    <table class="altrowstable" id="alternatecolor">
        <tr>
            <th>ingress</th>
        </tr>
        [% FOR t IN ingress %]
        <tr>
            <td><a href="/scheduler/ingress/[% t %]">[% t %]</a></td>
        </tr>
        [% END %]
    </table>
</div>

<script type="text/javascript">
     window.onload=function(){
         altRows('alternatecolor');
     }
</script>
